@model IEnumerable<AppointmentAudit>

<div class="search-bar">
    <form asp-controller="History" asp-action="SearchHistory"  class="search_input-group" method="get">
        <input class="search-input" type="text" placeholder="Search" name="searchCriteria"/>
        <button class="btn search__btn" type="submit">
            <i class="fa-brands fa-searchengin search__icon"></i>
        </button>
    </form>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>ActionDate</th>
                <th>ActionType</th>
                <th>AppointmentDateTime</th>
                <th>PostDateTime</th>
                <th>Objective</th>
                <th>Reason</th>
                <th>AdditionalInfo</th>
                <th>Classification</th>
                <th>AppointmentId</th>
            </tr>
        </thead>
        <tbody>
             @foreach(var record in Model ?? Enumerable.Empty<AppointmentAudit>())
            {
                <tr>
                    <td>@record.Id</td>
                    <td>@record.ActionDate</td>
                    <td>@record.ActionType</td>
                    <td>@record.AppointmentDateTime</td>
                    <td>@record.PostDateTime</td>
                    <td>@record.Objective</td>
                    <td>@record.Reason</td>
                    <td>@record.AdditionalInfo</td>
                    <td>@record.Classification</td>
                    <td>@record.AppointmentId</td>
                </tr>
            }
        </tbody>
    </table>
</div>
